{% extends 'base.html.twig' %}

{% block title %}Demandes d'ami{% endblock %}

{% block classBody %}profile{% endblock %}

{% block ajaxAPI %}
    <script type="module" src={{ asset('ts/ajax/api/users/acceptFriendRequest.ts') }}></script>
    <script type="module" src={{ asset('ts/ajax/api/users/declineFriendRequest.ts') }}></script>
    <script type="module" src={{ asset('ts/ajax/api/users/cancelFriendRequest.ts') }}></script>
{% endblock %} 

{% block body %}
    <section>
        <div class="container">
            <div class="row g-3">
                <div class="col-12">
                    <div class="accordion accordion-no-background" id="accordion-friend-requests">
                        {{ component('_pagination_friend_requests_received') }}
                        {{ component('_pagination_friend_requests_sent') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} 
