<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}TeamTask Manager{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" >
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {% block ajaxAPI %}{% endblock %}
        {% endblock %}

        {% if app.user %}
            <script>
                const eventSource = new EventSource(
                    "{{ mercure('/user/' ~ app.user.id ~ '/friend-requests', { subscribe: '/user/' ~ app.user.id ~ '/friend-requests' })|escape('js') }}",
                    { withCredentials: true }
                );

                eventSource.onmessage = (event) => {
                    const data = JSON.parse(event.data);
                    const badge = document.getElementById('friend-request-count-badge');
                    if (badge) {
                        badge.textContent = data.count;
                    }
                };
            </script>
        {% endif %}
        
    </head>
    
    <body class="body {% block classBody %}{% endblock %}" data-user-id={{ app.user ? app.user.id : '' }}>
        <aside id="flash-messages">
            <div class="flash-messages-container">
                {% set flashTypes = {'success': 'success', 'error': 'danger', 'warning': 'warning', 'info': 'info'} %}
                {% for label, messages in app.flashes %}
                    {% set flashClass = flashTypes[label] | default('success') %}
                    {% for message in messages %}
                        <div class="flash-message alert alert-{{ flashClass }} mb-0 hide">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </aside>

        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand logo" href={{ path('app_home') }}>
                    <img src={{ asset('images/static/logo-TTM-fonce.png') }} alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeaderToggler" aria-controls="navbarHeaderToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarHeaderToggler">
                    <ul class="navbar-nav">

                        <li id="nav-menu-desktop" class="nav-item dropdown d-none d-md-block">
                            <button class="nav-link d-flex" type="button" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('bi:person', {height: '50px', width: '50px', 'aria-hidden': true}) }}
                                <p>Compte</p>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a class="dropdown-item" href={{ path('app_register') }}>S'inscrire</a></li>
                                    <li><a class="dropdown-item" href={{ path('app_login') }}>Se connecter</a></li>
                                {% else %}
                                    <li class="dropdown-header d-flex align-items-center gap-3">
                                        <img class="avatar avatar-1" src={{ app.user.profilePicture }} alt="Photo de profil">
                                        <strong>{{ app.user.username }}</strong>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href={{ path('app_profile', { id: app.user.id }) }}>Voir mon profil</a></li>
                                    <li><a class="dropdown-item" href={{ path('app_profile_update')}}>Modifier mon profil</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href={{ path('app_profile_friends') }}>Contact</a></li>
                                    <li>
                                        <a class="dropdown-item" href={{ path('app_profile_friend_requests') }}>Demandes</a>
                                        <span id="friend-request-count-badge" class="badge badge-notification">{{ pendingFriendRequestsReceived() }}</span>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href={{ path('app_logout') }}>Se déconnecter</a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li id="nav-menu-mobile" class="nav-item d-md-none">
                            <button class="nav-link d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenuToggler" aria-expanded="false" aria-controls="collapseMenuToggler">
                                {{ ux_icon('bi:person', {height: '50px', width: '50px', 'aria-hidden': true}) }}
                                <p>Compte</p>
                            </button>
                            <div class="collapse" id="collapseMenuToggler">
                                <ul class="navbar-nav flex-column">
                                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li><a class="nav-link nav-link-child" href={{ path('app_register') }}>S'inscrire</a></li>
                                        <li><a class="nav-link nav-link-child" href={{ path('app_login') }}>Se connecter</a></li>
                                    {% else %}
                                        <li><a class="nav-link nav-link-child" href={{ path('app_profile', { id: app.user.id }) }}>Voir mon profil</a></li>
                                        <li><a class="nav-link nav-link-child" href={{ path('app_profile_update')}}>Modifier mon profil</a></li>
                                        <li><a class="nav-link nav-link-child" href={{ path('app_profile', { id: app.user.id }) }}>Contact</a></li>
                                        <li><a class="nav-link nav-link-child" href={{ path('app_profile_friend_requests') }}>Demandes</a></li>
                                        <li><a class="nav-link nav-link-child" href={{ path('app_logout') }}>Se déconnecter</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <div class="row align-center g-5">
                    <div class="col-12 col-lg-6 d-flex flex-column gap-3">
                        <a class="logo" href={{ path('app_home') }}>
                            <img src={{ asset('images/static/logo-TTM-clair.png') }} alt="Logo">
                        </a>
                        <p>© 2024 - Tumbarello Mathéo. Tous droits réservés.</p>
                    </div>
                    <div id="site_menu" class="col-12 col-lg-6">
                        <div class="row">
                            <h3>Menu du site</h3>
                            <div class="col-12 col-sm-6">
                                <h4>Base</h4>
                                <ul>
                                    <li>Accueil</li>
                                    <li>À propos</li>
                                    <li>Contactez-nous</li>
                                </ul>
                                <h4>Compte</h4>
                                <ul>
                                    <li>Inscription</li>
                                    <li>Connexion</li>
                                    <li>Mon compte</li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-6">
                                <h4>Légal</h4>
                                <ul>
                                    <li>Mentions légales</li>
                                    <li>Confidentialité des données</li>
                                    <li>Conditions générales</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>