{% set state = this.friendshipState %}
{% set componentId = 'btn-relationship' %}

{% if state == constant('App\\Enum\\FriendshipState::Friends') %}
    {% set class, content = 'remove-friend', 'Supprimer' %}
{% elseif state == constant('App\\Enum\\FriendshipState::Pending') %}
    {% set class, content = 'cancel-friend-request', 'Annuler la demande'%}
{% else %}
    {% set class, content = 'send-friend-request', 'Ajouter' %}
{% endif %}

<div id={{ componentId }} {{ attributes }}>
    <button class="btn btn-danger {{ class }}" type="button" data-related-components="{{ componentId }}" data-user-id={{ this.userId }}>{{ content }}</button>
</div>